* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  list-style: none;
  transition: 0.2 linear;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffffb;
  font-family: Arial, sans-serif;
}

.cor-de-fundo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1,5rem;
  padding-bottom: 1.5rem;
  
}
/*  */
.imagem-H1 {
  width: 15%;
  margin-top: 13px;
  margin-right: 1200px;
}
#h2-principal{
    color: #f80000;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
     box-shadow: 4px ,0px 5px #00000009; 
    border-bottom: 2px solid red;
    

}

#trocaTema {
  color: #020202;
  padding: 4px 6px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fffffff8;
  border-color: #ffffff15;
  border-radius: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.cor-de-fundo {
  
  margin: 0 auto;
  max-width: 1499px;
}
 
.grid-container {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  margin-top: 120px;
}
.grid-item {
  margin-left: 7px;
}
.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 4px 4px 15px #00000050;
}

.grid-item a {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.grid-item img:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  width: 100%;
  margin: 450px;
}
