* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  list-style: none;
  transition: 0.2s linear;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fffffb;
  font-family: Arial, sans-serif;
}

.cor-de-fundo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.imagem-H1 {
  width: 150px;
  height: auto;
  margin-top: 13px;
  margin-right: auto;
}

#h2-principal {
  color: #f80000;
  font-size: 30px;
  margin-top: 20px;
  text-align: center;
  box-shadow: 4px 0px 5px #00000009; 
  border-bottom: 2px solid red;
}

#trocaTema {
  color: #020202;
  padding: 4px 6px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fffffff8;
  border-color: #ffffff15;
  border-radius: 1px;
  margin: 20px 0 20px 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  width: 100%;
  max-width: 1000px;
  margin: 20px 0;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 4px 4px 15px #00000050;
  transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
}

.grid-item a {
  display: block;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.grid-item:hover {
  transform: scale(1.1);
  z-index: 10; /* Eleva o item acima dos demais para o efeito de zoom */
  box-shadow: 8px 8px 20px #00000070;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  width: 100%;
  margin-top: auto;
}

/* Media Queries */
@media (max-width: 768px) {
  .imagem-H1 {
    width: 40%;
  }

  #h2-principal {
    font-size: 24px;
  }

  #trocaTema {
    font-size: 14px;
  }

  .grid-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    margin-top: 60px;
  }
}

@media (max-width: 480px) {
  .cor-de-fundo {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }

  .imagem-H1 {
    width: 70%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #h2-principal {
    font-size: 20px;
  }

  #trocaTema {
    font-size: 12px;
    margin-left: 0;
  }

  .grid-container {
    grid-template-columns: 1fr;
    margin-top: 40px;
  }
}
